@font-face {
  font-family: 'Yeseva One';
  src: url('../.././source/assets/fonts/YesevaOne/YesevaOne.eot');
  src: url('../.././source/assets/fonts/YesevaOne/YesevaOne.eot?#iefix') format('embedded-opentype'),
      url('../.././source/assets/fonts/YesevaOne/YesevaOne.woff2') format('woff2'),
      url('../.././source/assets/fonts/YesevaOne/YesevaOne.woff') format('woff'),
      url('../.././source/assets/fonts/YesevaOne/YesevaOne.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}